
.Card {
    flex: 1;
    border: 3px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: .8rem;
    min-width: 300px;

}
.Card .Footer {
    padding: 5px 0px;
    background-color: #000;
    color: #fff;
}

.Card .Conteudo {
    flex: 1;
    padding: 15px 0px;
    color: #000;   
}